@import url('assets/fonts/fonts.css');

html,body{
    margin:0%;
    padding:0%;
    background-color:#d3d3d3;
    width: 100vw;
    height: 100%;
}
 .overlay{
    height:100%;
    width:100%;
    background-color:rbga (0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
 }

body{
 background-image:url('assets/saiba-como-a-farmacia-deve-ser-higienizada-em-tempos-de-pandemia.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}

.container{
    width:100%;
    height:95%;
    border:0px rgb(210, 0, 0) solid;
    display:flex;
    justify-content:center;
    padding-top:35px;
    align-items: center;

}

.container h1{
    color:rgb(87, 202, 133);
    font-size: 64px;
    margin:0%;
    padding:0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top:0%;
}

.button{
    font-family:dino, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-size:1em;
    margin: 0.5%;
    color:#0e0e0e;

}

.container section{
    width: 28%; 
}

.container form{
    width:115%;
    height:90%;
    border:0px rgb(76, 0, 255) solid;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-top: 2%;
    border-radius:3%;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 0 2em rgb(202, 202, 202);
}

.container input{
    border-radius: 7px;
    border: 1px rgb(211, 211, 211) solid;
    font-size: 17px;
    background-color: rgb(246, 246, 246);
    width:330px;
    height:60px;
    padding:15px;
}

.entrar{
    margin-top:30px;
    padding:9px;
    background-color:rgb(218, 215, 215);
    color:rgb(0, 0, 0);
    border:1px rgb(184, 184, 184) solid;
    border-radius:5px;
    margin: 0%;
    font-size: 1em;
    width:275px;
    background-color: rgb(216, 216, 216);
    text-decoration: none;
    font-family:dino, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.entrar:hover{
    background-color:rgb(87, 202, 133);
    box-shadow:0 0 1em rgb(142, 190, 102);
    transition-duration: 0.3s;
}
.criar{
    margin-top:30px;
    padding:9px;
    background-color:rgb(218, 215, 215);
    color:rgb(0, 0, 0);
    border:1px rgb(184, 184, 184) solid;
    border-radius:5px;
    margin: 0%;
    font-size: 1em;
    width:275px;
    background-color: rgb(216, 216, 216);
    text-decoration: none;
    font-family:dino, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.criar:hover{
    background-color:rgb(87, 202, 133);
    box-shadow:0 0 1em rgb(142, 190, 102);
    transition-duration: 0.3s;
}


.risco{
background-color: rgb(224, 224, 224);
height: 0.75px;
width: 337px;
}

.cr{
color: black;
}

.n{
    color:gray
}
.linha{
    margin-left: 71px;
    margin-top: -5%;
    font-size: 15px;
}
.pp{
    color:rgb(52, 87, 215);
    font-size: 18px;
    margin: 0%;
}

.titulo{
    font-family:happy,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-size:33px;
    margin:-1%;

}

.tituloo{
    font-family:dino,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-size:55px;
    margin: -1px;
    color:rgb(22, 189, 89);
}